<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.board.student.users.mapper.UserMapper">

    <!-- 회원가입 -->
    <insert id="join">
        INSERT INTO user ( username, password, name, email )
        VALUES ( #{username}, #{password}, #{name}, #{email} )
    </insert>

    <!-- 회원 권한 등록 -->
    <insert id="insertAuth">
        INSERT INTO user_auth ( username, auth )
        VALUES ( #{username}, #{auth} )
    </insert>

</mapper>